/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   Reset Code
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

/*General*/
body {
  font-family: 'Montserrat', Helvetica, sans-serif;
	color: #4a4a4a;
  line-height: 1.75;
}

img {
  max-width: 100%;
  height: auto;
}

/*Typography*/
h1 {
	font-family: 'Playfair Display', serif;
	font-size: 3rem;
}
h2 {
	font-family: 'Playfair Display', serif;
  font-size: 2rem;
}
h3 {
	font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 1.125rem;
	font-weight: 700;
}
p {
  font-size: 1rem;
	padding-bottom: 24px;
}

/*Grid*/
.grid-container {
  display: grid;
	grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
	max-width: 1140px;
	margin: 0 auto;
}

.six-col {
	grid-column: span 6;
}

.seven-col {
	grid-column: span 7;
}

.eight-col-center {
	grid-column: 3 / span 8;
}

.twelve-col-center {
	grid-column: span 12;
}

/*Lists*/

/*Buttons and Links*/
a {
	color: #4a4a4a;
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: inherit;
  font-weight: inherit;
	box-shadow: inset 0 0 0 0 #e1e6ff;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.bdr-btm-1 {
	border-bottom: 1px solid #3b5ae9;
	padding-bottom: 1px;
}

.bdr-btm-1:hover {
	box-shadow: inset 220px 0 0 0 #e1e6ff;
	color: #4a4a4a;
}

/*Homepage*/
nav {
	padding: 40px 0 40px 0;
	grid-column: span 12;
}

nav ul li {
	display: inline-block;
	padding: 0 24px 0 0;
	display: grid;
}

nav li {
	
}

.header {
	background-color: #f0f7ff;
	margin-bottom: 72px;
}

.intro {
	padding: 48px 0 128px 0;
}

.project {
	grid-column: span 12;
	padding-bottom: 48px;
}

/*Project Page*/
.intro-title {
	padding: 72px 0 72px 0;
}

section {
	padding-bottom: 48px;
}

section img {
	padding-bottom: 24px;
	display: block;
  margin: 0 auto;
}

.remove-padding {
	padding-bottom: 0px;
}

/*About Page*/
.work-history {
	grid-column: 9 / span 3;
}

@media only screen and (max-width : 1139px) and (min-width: 321px) {
	.grid-container {
		margin: 0 24px 0 24px;
		}

		.six-col {
			grid-column: span 12;
		}

		.eight-col-center {
			grid-column: span 12;
		}
}

@media only screen and (max-width : 320px) {
	.grid-container {
		margin: 0 16px 0 16px;
		}

		.six-col {
			grid-column: span 12;
		}

		.eight-col-center {
			grid-column: span 12;
		}
}
