/*General*/
body {
	font-family: 'Montserrat', Helvetica, sans-serif;
	color: #4a4a4a;
}

img {
	max-width: 100%;
	height: auto;
}

li {
	line-height: 2;
	padding-bottom: 16px;
	margin-left: 24px;
}

.remove-padding {
	padding-bottom: 0;
}

.remove-padding p {
	padding-bottom: 0;
}

.add-padding-24 {
	padding-bottom: 24px;
}

/*Typography*/
h1 {
	font-family: 'Playfair Display', serif;
	font-size: 2.5rem;
	line-height: 2;
}

h2 {
	font-family: 'Playfair Display', serif;
  font-size: 2rem;
	line-height: 2;
}

h3 {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 2;
}

p {
	font-size: 1rem;
	padding-bottom: 24px;
	line-height: 2;
}

/*Grid*/
.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 24px;
	max-width: 1140px;
	margin: 0 16px 0 16px;
}

/*Buttons and Links*/
a {
	color: #4a4a4a;
	display: inline-block;
	text-decoration: none;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: inherit;
	font-weight: inherit;
	box-shadow: inset 0 0 0 0 #e1e6ff;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	transition: all ease 0.4s;
}

.bdr-btm-1 {
	border-bottom: 1px solid #3b5ae9;
  /* padding: 4px 0; */
	line-height: 2;
}

.bdr-btm-1:hover {
	box-shadow: inset 220px 0 0 0 #e1e6ff;
	color: #4a4a4a;
}

p .bdr-btm-1 {
	border-bottom: 1px solid #3b5ae9;
  /* padding: 4px 0; */
	/* line-height: 2; */
}

.proj-text .bdr-btm-1  {
	border-bottom: 1px solid #3b5ae9;
	padding: 0;
}

/*Navigation and Footer*/
body.menu-active {
	overflow: hidden;
}

nav {
	padding: 40px 0 40px 0;
	grid-column: span 12;
	position: relative;
}

nav .hamburger {
	position: absolute;
	top: 40px;
	right: 16px;
	width: 24px;
	height: 2px;
	background: #4a4a4a;
	display: block;
	-webkit-transform-origin: center;
	transform-origin: center;
	transition: .5s ease-in-out;
}

nav .hamburger:after,
nav .hamburger:before {
	transition: .5s ease-in-out;
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: #4a4a4a;
	cursor: pointer;
}

nav .hamburger:before {
	top: -8px;
}

nav .hamburger:after {
	bottom: -8px;
}

nav .hamburger.clicked {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 11;
}

nav .hamburger.clicked:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	bottom: 0;
}
nav .hamburger.clicked:before {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 0;
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
}

nav ul.menu-wrap {
  background-color: #f0f7ff;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	margin-right: -100%;
	overflow: hidden;
	transition: .25s;
	z-index: 10;
}

nav ul.menu-wrap.menu-show {
	margin-right: 0;
}

nav ul li {
	line-height: 1;
	margin-bottom: 16px;
}

.social {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.social-labels {
	padding-left: 8px;
}

.cs-nav {
	display: block;
	padding: 40px 0 40px 0;
	grid-column: span 12;
}

.cs-nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
	justify-content: left;
}

.cs-nav ul li {
	display: inline-block;
	padding-bottom: 0;
	line-height: 1;
	margin-left: 0;
	padding: 0 16px 0 0;
	vertical-align: middle;
}

footer {
	grid-column: span 12;
}

/*Homepage*/
header {
	background-color: #f0f7ff;
	margin-bottom: 24px;
}

.intro {
	padding: 24px 0 64px;
	grid-column: span 12;
}

.project {
	grid-column: span 12;
	padding-bottom: 24px;
}

.project p {
	padding-bottom: 8px;
}

.project img {
  transition: all .4s;
}

.project img:hover {
  transform: scale(1.05);
}

/*Project Page*/
.intro-title {
	padding: 32px 0 32px 0;
}

section {
	padding-bottom: 24px;
}

section img, video {
	padding: 0 0 16px 0;
	display: block;
  	margin: 0 auto;
}

.next-proj-banner {
	overflow: hidden;
	padding-bottom: 0;
}

.next-proj-banner a {
	display: block;
}

.proj-text {
	grid-column: span 12;
}

.proj-img {
	grid-column: span 12;
}

.next-proj-txt {
  color: #fff;
	padding: 96px 0 96px 0;
	grid-column: span 12;
}

.darken {
  background-color: rgba(0, 0, 0, 0.3);
}

.zoom-contain {
  overflow: hidden;
}

.sh {
  background: url(../img/cover-student-hub.svg) no-repeat center center;
}

.know {
  background: url(../img/cover-knowledge.svg) no-repeat center center;
}

.vds {
  background: url(../img/cover-veritas-modal.svg) no-repeat center center;
}

.um {
  background: url(../img/cover-udacity-marketing.svg) no-repeat center center;
}

.hed {
  background: url(../img/cover-highlights-every-day.svg) no-repeat center center;
}

.sh,
.know,
.vds,
.um,
.hed {
	background-size: cover;
	transition: all .4s;
}

.sh:hover,
.know:hover,
.vds:hover,
.um:hover,
.hed:hover {
	transform: scale(1.1);
}

.sh-experiment {
	grid-column: span 12;
  padding-bottom: 24px;
}

.vds-adv {
  grid-column: span 12;
  background-color: #e3f8ed;
	border-radius: 4px;
	padding: 24px;
  margin-bottom: 16px;
}

.vds-disadv {
  grid-column: span 12;
  background-color: #fBe6e6;
	border-radius: 4px;
	padding: 24px;
}

.vds-do {
  grid-column: span 12;
}

.vds-dont {
  grid-column: span 12;
}

.vds-alt-img {
  grid-column: span 12;
}

.vds-do-txt {
  background-color: #e3f8ed;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  border-top: 4px solid #15c26b;
}

.vds-dont-txt {
  background-color: #fBe6e6;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  border-top: 4px solid #dd3131;
}

.vds-do-txt, .vds-dont-txt p {
  padding-bottom: 0;
}

.vds-alt-img {
  grid-column: span 3;
}

.vds-alt-txt {
  grid-column: 4 / span 9;
}

.vds-modal ol {
  list-style: none;
  counter-reset: vds-counter;
}

.vds-modal ol li {
  counter-increment: vds-counter;
  padding-left: 24px;
}

.vds-modal ol li::before {
	content: counter(vds-counter);
	color: #fff;
	text-align: center;
	background-color: #02ccba;
	border-radius: 100%;
	position: absolute;
	height: 32px;
	width: 32px;
	margin-left: -48px;
}

.hed-screenshots {
  grid-column: span 12;
}

/*About Page*/
.about-img {
	grid-column: span 12
}

.about-text {
	grid-column: span 12;
}

.work-history {
	grid-column: span 12;
}

/*Other*/
.hide {
	display: none;
}

@media only screen and (min-width: 1024px) {
	/*Typography*/
	h1 {
		font-size: 3rem;
		line-height: 2;
	}

	h2 {
		font-size: 2rem;
		line-height: 2.5;
	}

	h3 {
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 2.5;
	}

	/*Grid*/
	.grid-container {
		margin: 0 24px 0 24px;
	}

	/*Homepage*/
	header {
		background-color: #f0f7ff;
		margin-bottom: 72px;
	}

	.intro {
		padding: 48px 0 128px 0;
		grid-column: span 12;
	}

	.project {
		grid-column: span 12;
		padding-bottom: 48px;
	}

	.project p {
		padding-bottom: 24px;
	}

	.project a {
		overflow: hidden;
	}

	.project img {
		transition: all .5s;
	}

	.project img:hover {
		transform: scale(1.1);
	}

	/*Project Page*/
	.intro-title {
		padding: 72px 0 72px 0;
	}

	section {
		padding-bottom: 48px;
	}

	section img, video {
		padding: 8px 0 32px 0;
		display: block;
		margin: 0 auto;
	}

	.proj-text {
		grid-column: 3 / span 8;
	}

	.next-proj-txt {
	  grid-column: 3 / span 8;
	}

	.sh-experiment {
		grid-column: span 6;
	}

	.vds-adv {
		grid-column: span 6;
		padding: 48px;
		margin-bottom: 0;
	}

	.vds-disadv {
		grid-column: span 6;
		padding: 48px;
	}

	.vds-do {
		grid-column: 3 / span 4;
	}

	.vds-dont {
		grid-column: 7 / span 4;
	}

	.vds-alt-img {
		grid-column: 3 / span 2;
	}

	.vds-alt-txt {
		grid-column: 5 / span 6;
	}

	.hed-screenshots {
		grid-column: span 6;
	}

	/*About Page*/
	.about-text {
		grid-column: span 7;
	}

	.work-history {
		grid-column: 9 / span 3;
	}

	/* Navigation */

	nav {
		display: block;
		padding: 40px 0 40px 0;
		grid-column: span 12;
	}

	nav .hamburger {
		display: none;
	}

	nav ul.menu-wrap {
		background-color: transparent;
		position: relative;
		top: 0;
		left: 0;
		z-index: 0;
	}

	nav ul {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		align-items: center;
		justify-content: left;
	}

	nav ul li {
	  display: inline-block;
	  padding-bottom: 0;
	  line-height: 1;
	  margin-left: 0;
	  padding: 0 8px 0 0;
	  vertical-align: middle;
	}

	nav ul li:last-child {
		padding-right: 0;
	}

	nav .push-right {
		margin-left: auto;
	}

	.cs-nav ul li {
		padding: 0 8px 0 0;
	}

	.nav-btn {
		padding: 12px;
		border-radius: 4px;
		background-color: none;
		-webkit-transition: all ease 0.4s;
		-moz-transition: all ease 0.4s;
		transition: all ease 0.4s;
	}

	.nav-btn:hover {
		background-color: #e1e6ff;
	}

	.social-labels {
		display: none;
	}

	/*Other*/
	.hide {
		display: inline;
	}
}

@media only screen and (min-width : 1140px) {
	/*Grid*/
	.grid-container {
		margin: 0 auto;
	}
}
